.navbar {
    justify-content: center;
  }
  .navbar-nav {
    margin-left: 120px;
    margin-right: 200px;
    
    text-align: center;
  }
  .ms-3:hover{
    text-shadow: 5px 10px 12px gray;
  }
  
.box-1{
    position: absolute; 
    z-index: -1; 
  }
  .box-2{
    position: relative; 
    z-index: 2; 
  } 
  .card-img-top:hover{
    box-shadow: 5px 10px 12px gray;
  }
  
  .pic-1{
    position: absolute; 
    z-index: -1; 
  }

  .pic-2{
    position: relative; 
    z-index: 2; 
    margin-left: 10px;
  }  

  .menu-1{
    position: absolute; 
    z-index: -1; 
  }
  .menu-2{
    position: relative; 
    z-index: 2; 
  } 

  



