.navbar {
    justify-content: center;
  }
  .navbar-nav {
    margin-left: 120px;
    margin-right: 200px;
    
    text-align: center;
  }
  .ms-3:hover{
    text-shadow: 5px 10px 12px gray;
  }
  @media (min-width: 767px) {
    .animation {
        width: 100%;
        height: 100%; /* Make the animation container take full screen */
        background-size: cover;
        background-image: url(images/ani.avif); /* Use a static background on mobile */
        animation: none; /* Disable animation for mobile */
    }
  }
@media (min-width: 768px){
.box-1{
    position: absolute; 
    z-index: -1; 
  }
  .box-2{
    position: relative; 
    z-index: 2; 
  } 
  .card-img-top:hover{
    box-shadow: 5px 10px 12px gray;
  }
  @media (max-width: 575.98px) {
  .pic-1{
    position: absolute; 
    z-index: -1; 
  }
}
  .pic-2{
    position: relative; 
    z-index: 2; 
    margin-left: 10px;
  } 

  .menu-1{
    position: absolute; 
    z-index: -1; 
  }
  .menu-2{
    position: relative; 
    z-index: 2; 
  } 
}
  